<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bug Tracker</title>
    <style>
        body{
            margin-left: 50px;
        }
        div{
            margin-bottom: 10px;
        }
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        .stats, .bugname{
            font-size: 18pt;
        }
        .bugname{
            cursor: pointer;
        }
        li{
            margin-bottom: 10px;
            border : 2px solid gray;
            background-color: #e7e7e7;
            padding : 10px;
            border-radius: 5px;
        }
        ol{
            width : 450px;
            list-style: none;
            -webkit-padding-start : 0px;
        }
        .datetime{
            font-style: italic;
        }
    </style>
    <script type="text/usecases">
        (done) 1. Add new bugs
        (done) 2. List the added bugs
        (done) 3. Toggle the 'closed' status of any bug
        (done) 4. Remove closed bugs
        (done) 5. Display stats ( # of closed bugs / total # of bugs )
        (done) 6. Filter the bugs
        (done) 7. Sort the bugs
        (done) 8. Improvise the bug Display
        (done) 9. Persist the bugs in the localStorage
                    window.localStorage
                    ===================
                    * key/value store
                    * key has to be unique
                        (introduce an 'id' attribute to the bug to have unique values (1...infinity))
                    * key & value must be strings
                        (use JSON.stringify & JSON.parse for serialization and deserialization)
                    * ~ 10 MB per origin
                    * Same Origin Policy
                    * APIs
                    ------
                        - setItem(key, value)
                        - getItem(key) => value
                        - removeItem(key)
                        - clear()
                        - key(index) => key at index
                        - length

        11. Display 'createdAt' for each bug
        10. Persist the bug in the server
    </script>
    <script src="angular.js"></script>
    <script src="moment.js"></script>
    <script>
        var utilsModule = angular.module('utilsModule', []);

        utilsModule.value('defaultMaxLength', 30);

        utilsModule.filter('trimText', function (defaultMaxLength) {
            return function (data, maxLength) {
                maxLength = maxLength || defaultMaxLength;
                return data.length <= maxLength ? data : data.substr(0, maxLength) + '...';
            };
        });
        utilsModule.filter('elapsed', function () {
            return function (dateValue) {
                return moment(dateValue).fromNow();
            };
        });
        
        var bugTrackerApp = angular.module('bugTrackerApp', ['utilsModule']);

        bugTrackerApp.factory('bugOperations', function(){
            return function(){
                function createNew(bugName) {
                    var newBug = {
                        id : 0,
                        name: bugName,
                        isClosed: false,
                        createdAt : new Date()
                    };
                    return newBug;
                }
                function toggle(bug) {
                    bug.isClosed = !bug.isClosed;
                }
                return { createNew: createNew, toggle: toggle };
            }
        });

        bugTrackerApp.service('bugStorage', function(){
            var storage = window.localStorage;
            var currentBugId = 0;
            this.getAll = function(){
                var result = [];
                for(var index = 0, count = storage.length; index < count; index++){
                    var key = storage.key(index),
                        rawData = storage.getItem(key),
                        bug = JSON.parse(rawData);
                    currentBugId = currentBugId > bug.id ? currentBugId : bug.id;
                    result.push(bug);
                }
                return result;
            };

            this.save = function(bugData){
                if (bugData.id === 0)
                    bugData.id = ++currentBugId;
                storage.setItem(bugData.id, JSON.stringify(bugData));
                return bugData;
            };
            this.remove = function(bugData){
                storage.removeItem(bugData.id)
            };
        });

        bugTrackerApp.service('bugsCollection', function(bugOperations, bugStorage){
            this.bugs = bugStorage.getAll();
            var bugOperationsInstance = bugOperations();

             this.addNew = function (newBugName) {
                var newBugData = bugOperationsInstance.createNew(newBugName);
                var newBug = bugStorage.save(newBugData);
                this.bugs.push(newBug);
            };

            this.toggle = function (bug) {
                bugOperationsInstance.toggle(bug);
                bugStorage.save(bug);
            };

            this.removeClosed = function () {
                for (var index = this.bugs.length - 1; index >= 0; index--) {
                    if (this.bugs[index].isClosed){
                        bugStorage.remove(this.bugs[index]);
                        this.bugs.splice(index, 1);
                    }
                }
            };
        })

        bugTrackerApp.controller('bugsController', function($scope, bugsCollection){

            $scope.newBugName = '';
            $scope.bugsCollection = bugsCollection;            
        });

        bugTrackerApp.controller('bugStatsController', function($scope, bugsCollection){
            $scope.bugsCollection = bugsCollection;
        });

       

        bugTrackerApp.filter('closedCount', function(){
            return function(bugs){
                return bugs.reduce(function(result, bug){
                    return bug.isClosed ? ++result : result;
                },0)
            };
        });

        

    </script>
</head>
<body ng-app="bugTrackerApp">
    <div class="stats" ng-controller="bugStatsController">
        <span class="closed">{{bugsCollection.bugs | closedCount}}</span>
        <span> / </span>
        <span>{{bugsCollection.bugs.length}}</span>
    </div>
    <h1>Bug Tracker</h1>
    <hr>
    <section ng-controller="bugsController">
       
        <div class="sort">
            <label for="">Order By :</label>
            <select ng-model="sortBugBy">
                <option value="name">Name</option>
                <option value="isClosed">Status</option>
            </select>
            <label for="">Descending ?: </label>
            <input type="checkbox" ng-model="sortBugDescending">
        </div>
        <div class="search">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.name">
            <label for="">Closed ? :</label>
            <input type="checkbox" ng-model="searchBug.isClosed" ng-init="searchBug.isClosed = ''">
            <input type="button" value="Clear" ng-click="searchBug.isClosed = ''" ng-show="searchBug.isClosed !== '' ">
        </div>
        <div class="edit">
            <label for="">Bug Name :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add New" ng-click="bugsCollection.addNew(newBugName)">
        </div>
        <div class="list">
            <input type="range" ng-model="trimTextLength" ng-init="trimTextLength=30" min="30" max="150">
            <ol>
                <li ng-repeat="bug in bugsCollection.bugs | filter:searchBug | orderBy:sortBugBy:sortBugDescending track by $index">
                    <span 
                        class="bugname"
                        ng-click="bugsCollection.toggle(bug)"
                        ng-class="{ closed : bug.isClosed }"
                    >
                        {{bug.name | trimText:trimTextLength}}
                    </span>
                    <div class="datetime">{{bug.createdAt | elapsed}}</div>
                </li>
                <!-- <li>
                    <span class="bugname closed">[This is bug - 2]</span>
                    <div class="datetime">[Created At]</div>
                </li> -->
            </ol>
            <input type="button" value="Remove Closed" ng-click="bugsCollection.removeClosed()">
        </div>
    </section>
</body>
</html>