<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bug Tracker</title>
    <style>
        body{
            margin-left: 50px;
        }
        div{
            margin-bottom: 10px;
        }
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        .stats, .bugname{
            font-size: 18pt;
        }
        .bugname{
            cursor: pointer;
        }
        li{
            margin-bottom: 10px;
            border : 2px solid gray;
            background-color: #e7e7e7;
            padding : 10px;
            border-radius: 5px;
        }
        ol{
            width : 450px;
            list-style: none;
            -webkit-padding-start : 0px;
        }
        .datetime{
            font-style: italic;
        }
    </style>
    <script type="text/usecases">
        (done) 1. Add new bugs
        (done) 2. List the added bugs
        (done) 3. Toggle the 'closed' status of any bug
        (done) 4. Remove closed bugs
        (done) 5. Display stats ( # of closed bugs / total # of bugs )
        (done) 6. Filter the bugs
        7. Sort the bugs
        8. Improvise the bug Display
        9. Persist the bugs in the localStorage
        10. Persist the bug in the server
    </script>
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module('bugTrackerApp', []);

        bugTrackerApp.factory('bugOperations', function(){
            return function(){
                function createNew(bugName) {
                    var newBug = {
                        name: bugName,
                        isClosed: false
                    };
                    return newBug;
                }
                function toggle(bug) {
                    bug.isClosed = !bug.isClosed;
                }
                return { createNew: createNew, toggle: toggle };
            }
        });

        bugTrackerApp.service('bugsCollection', function(bugOperations){
            this.bugs = [];
            var bugOperationsInstance = bugOperations();

             this.addNew = function (newBugName) {
                var newBug = bugOperationsInstance.createNew(newBugName);
                this.bugs.push(newBug);
            };

            this.toggle = function (bug) {
                bugOperationsInstance.toggle(bug);
            };

            this.removeClosed = function () {
                for (var index = this.bugs.length - 1; index >= 0; index--) {
                    if (this.bugs[index].isClosed)
                        this.bugs.splice(index, 1);
                }
            };

            this.getClosedCount = function () {
                return this.bugs.reduce(function (result, bug) {
                    return bug.isClosed ? ++result : result;
                }, 0);
            };
        })

        bugTrackerApp.controller('bugsController', function($scope, bugsCollection){

            $scope.newBugName = '';
            $scope.bugsCollection = bugsCollection;            
        });

        bugTrackerApp.controller('bugStatsController', function($scope, bugsCollection){
            $scope.bugsCollection = bugsCollection;
        })
    </script>
</head>
<body ng-app="bugTrackerApp">
    <div class="stats" ng-controller="bugStatsController">
        <span class="closed">{{bugsCollection.getClosedCount()}}</span>
        <span> / </span>
        <span>{{bugsCollection.bugs.length}}</span>
    </div>
    <h1>Bug Tracker</h1>
    <hr>
    <section ng-controller="bugsController">
       
        <div class="sort">
            <label for="">Order By :</label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for="">Descending ?: </label>
            <input type="checkbox" name="" id="">
        </div>
        <div class="search">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.name">
            <label for="">Closed ? :</label>
            <input type="checkbox" ng-model="searchBug.isClosed" ng-init="searchBug.isClosed = ''">
            <input type="button" value="Clear" ng-click="searchBug.isClosed = ''" ng-show="searchBug.isClosed !== '' ">
        </div>
        <div class="edit">
            <label for="">Bug Name :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add New" ng-click="bugsCollection.addNew(newBugName)">
        </div>
        <div class="list">
            <ol>
                <li ng-repeat="bug in bugsCollection.bugs | filter:searchBug track by $index">
                    <span 
                        class="bugname"
                        ng-click="bugsCollection.toggle(bug)"
                        ng-class="{ closed : bug.isClosed }"
                    >
                        {{bug.name}}
                    </span>
                    <div class="datetime">[Created At]</div>
                </li>
                <!-- <li>
                    <span class="bugname closed">[This is bug - 2]</span>
                    <div class="datetime">[Created At]</div>
                </li> -->
            </ol>
            <input type="button" value="Remove Closed" ng-click="bugsCollection.removeClosed()">
        </div>
    </section>
</body>
</html>